.toDoAddForm{
    display: flex;
    margin:1em 0px
}
.toDoAddForm input{
    width:100%;
    border:2px solid #365486;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    font-size: 1em;
    padding: 0 8px;
}
.toDoAddForm > button{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    width:100px;
    padding-left:0px;
    padding-right:0px;
}