:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #213547;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #0F1035;
}

body {
  margin: 0;
  min-height: 100vh;
  min-width: 320px;
  padding:1rem;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #365486;
}

button {
  border-radius: 8px;
  border: none;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #365486;
  color:#fff;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  background-color: #0F1035;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
button:disabled{
  background-color: #9fa5aa;
  cursor: default;
}
div.content {
  border-radius: 8px;
  border: 1px solid #0F1035;
  padding: 1.2em 1.2em;
  background-color: #DCF2F1;
  min-width:50vw;
  min-height: 50vh;
  align-items: center;
  text-align: center;
}
div.error{
  color:#721c24;
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
  border-radius: 8px;
  padding:10px 20px;
}